.monthlyInstallmentText {
    font-weight: 900;
    font-family: 'Inter';
    font-size: 36px;
    color: #2AFF17;
}

.credentialsText {
    font-weight: 500;
    font-family: 'Inter';
    font-size: 32px;
}