.pickerLabel {
	font-family: "Inter";
}

.pickerCredentialText {
	font-family: "Inter";
	margin: 0 0 1rem 3rem;
}

.pickerRange {
	min-width: 40rem;
	max-width: 40rem;
}

.leftHintText {
	position: relative;
	top: -3.2rem;
}

.rightHintText {
	position: relative;
	top: -1.5rem;
	width: 10%;
	float: right;
    margin-left: -1em;
}

.pickerRange::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: #ffe604;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.pickerRange::-moz-range-thumb {
	-webkit-appearance: none;
	appearance: none;
	background: #ffe604;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.pickerRange::-ms-thumb {
	background: #ffe604;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}
