.search-section-background {
  background:
    url("../../../assets/hero-img.webp");
  background-position: center;
  background-size: cover;
  height: 75vh;
}

.no-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input.no-spin-button::-webkit-outer-spin-button,
input.no-spin-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
