.search-section-background {
  background: linear-gradient(
      180deg,
      rgba(30, 30, 30, 0.99) 0%,
      rgba(30, 30, 30, 0) 100%
    ),
    url("../../assets/searchSectionBacground.webp");
  background-position: center;
  background-size: cover;
}
