@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kreon:wght@300..700&display=swap");

.ff-inter {
	font-family: "Inter";
}

.ff-kreon {
	font-family: "Kreon";
}

.fs-7 {
	font-size: 0.8rem;
}

.bg-gray {
	background-color: gray;
}

.text-lightgreen {
	color: #2aff17;
}

.cursor-pointer {
	cursor: pointer;
}

.vh-75 {
	height: 75dvh;
}

.w-15 {
	width: 15%;
}

.w-10 {
	width: 10%;
}

.w-full {
	width: 100%;
	margin: 0;
	padding: 0;
}

.h-full {
	height: 90dvh;
}

.h-55 {
	height: 55%;
}

.text-overflow {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.no-style-link {
	color: inherit;
	text-decoration: none;
}

.form-control:focus {
	border-color: var(--bs-warning) !important;
	box-shadow: 0 0 0 0.25rem var(--bs-warning-border-subtle);
}

.btn-reversed-primary {
	color: #0d6efd;
	background-color: white;
	border: 1px solid lightgray;
}

.btn-reversed-primary:hover {
	color: #0d6efd !important;
	background-color: white !important;
}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.no-arrows {
	-moz-appearance: textfield;
}

@media (max-width: 576px) {
	.w-xs-25 {
		width: 25%;
	}
	.w-xs-100 {
		width: 100%;
	}
	.text-xs-wrap {
		text-wrap: wrap !important;
	}
	.flex-xs-column {
		flex-direction: column !important;
	}
}

@media (max-width: 992px) {
	.flex-xs-wrap {
		flex-wrap: wrap !important;
	}
	.align-items-lg-center {
		align-content: center !important;
	}
}

@media (min-width: 576px) {
	.w-sm-25 {
		width: 25%;
	}
	.w-sm-40 {
		width: 40%;
	}
	.w-sm-60 {
		width: 60%;
	}
	.text-sm-nowrap {
		text-wrap: nowrap !important;
	}
	.border-sm {
		border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
	}
	.border-sm-black {
		--bs-border-opacity: 1;
		border-color: rgba(
			var(--bs-black-rgb),
			var(--bs-border-opacity)
		) !important;
	}
}

@media (min-width: 768px) {
	.w-md-65 {
		width: 65%;
	}
	.w-md-80 {
		width: 80%;
	}
}

@media (min-width: 1200px) {
	.w-xxl-35 {
		width: 35%;
	}
}
