.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    color: #fff;
    padding: 20px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../../assets/headerStripe.png");
}

.BuyingMenu{
    display: inline-block;
}

.RentingMenu{
    margin-left: 50px;
    display: inline-block;
}


.LeftButtonsGroup{
    position: absolute;
    left: 50px;
}

.RightMyAccountGroup{
    position: absolute;
    right: 50px;
}
.AccountProfile{
    display: inline-block;
    right: 10px;
}
.MyAccountDropdown{
    display: inline-block;
}

.MenuDropdowns .dropdown-toggle {
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 120%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.MenuDropdowns .dropdown-toggle:hover {
    background-color: transparent;
}
.MenuDropdowns .dropdown-item {
    color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
