.was-validated .form-control:invalid {
  border-color: var(--bs-form-invalid-border-color) !important;
}

.fs-7 {
  font-size: 0.8rem !important;
}

@media screen and (min-width: 768px) {
  .w-md-80 {
    width: 80% !important;
  }
}

.disable-scrollabr {
  ::-webkit-scrollbar {
    display: none;
  }
}

.no-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.no-spin-button::-webkit-outer-spin-button,
input.no-spin-button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
